@import './../../style/parameters';

.SearchButton {
  padding: 1em 3em;
  margin: 2em auto;
  font-size: 1em;
  border: 0;
  background-color: $color6;
  text-transform: uppercase;
  display: block;
  transition: all 0.2s linear;
  font-weight: bolder;
  box-shadow: 5px 5px 0 0 rgb(14, 13, 13);

  &:hover {
    // background-color: rgb(251, 255, 0);
    background-color: rgb(14, 13, 13);
    color: $color6;
    cursor: pointer;
    // box-shadow: 0 5px 10px 1px rgba(231, 197, 2, 0.356);
    box-shadow: 0 0 0 0 transparent;
  }
}
